{{#each this}}

  <div class="gallery_card">
      <a href="{{largeImageURL}}">
        <img class="gallery_img" src="{{webformatURL}}" alt="{{tags}}" loading="lazy" />
      </a>
    <div class="gallery_info">
      <p class="gallery_info-item">
        <b>Likes: {{likes}}</b> 
      </p><span></span> 
      <p class="gallery_info-item">
        <b>Views: {{views}}</b>
      </p><span></span>
      <p class="gallery_info-item">
        <b>Comments: {{comments}}</b> 
      </p><span></span> 
      <p class="gallery_info-item">
        <b>Downloads: {{downloads}}</b>
      </p>
    </div>
  </div>
{{/each}}

